# server[:port] shared_secret      timeout (s)
{{ ovpnxor_radius_server_ip1 }}				{{ ovpnxor_radius_server_pwd }}  {{ ovpnxor_radius_server_timeout1 }}
{{ ovpnxor_radius_server_ip2 }}				{{ ovpnxor_radius_server_pwd }}  {{ ovpnxor_radius_server_timeout2 }}
